<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card margin">
          <div class="card-header card-header-danger">
            <h5 class="card-title">Lettre Table</h5>
          </div>

          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class="text-primary">
                  <th>Description</th>
                  <th>User</th>
                  <th>Actions</th>
                </thead>
                <tbody>
                  <tr *ngFor="let l of lettres">
                    <td (click)="openDescriptionModal(l.description)">
                      <span *ngIf="l.description.length > 30">
                        {{ l.description | slice:0:30 }}...
                        <a href="javascript:void(0);" class="lire-plus">Lire la suite</a>
                      </span>
                      <span *ngIf="l.description.length <= 30">{{ l.description }}</span>
                      
                    </td>
                    <td>{{ l.user.username}}</td>
                    <td class="d-flex f-row">
                      <button type="button" class="btn btn-warning" (click)="openMeetingModal(l._id, l.user._id)">Schedule a meeting</button>
                      <button type="button" class="btn btn-danger">Ignore</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>