<section>
  <div class="container">

    <div class="row align-items-center justify-content-center">
      <div class="col-xl-8 col-lg-9 col-md-11 col-sm-12">
        <div class="secHeading-wrap text-center mb-5">
          <div class="d-flex align-items-center justify-content-center mb-2">
            <span class="badge badge-primary text-md fw-medium rounded-pill">Top Employer</span>
          </div>
          <h2 class="fw-medium">Featured & Top Employer</h2>
          <p>Cicero famously orated against his political opponent Lucius Sergius Catilina.</p>
        </div>
      </div>
    </div>

    <div class="row justify-content-between g-4 mb-5">

      <!-- Single Item -->
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
        <div class="employerCard card h-100 border rounded-3">
          <div class="card-body position-relative">
            <div class="position-absolute end-0 top-0 mt-3 me-3"><span class="text-primary fs-5" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Verified Company"><i class="bi bi-patch-check-fill text-success"></i></span></div>
            <div class="employerCard-body">
              <div class="employer-thumb d-flex align-items-center justify-content-center mb-3 mt-4">
                <div class="mx-auto w-20 h-20 overflow-hidden"><img src="assets/img/com-1.png" class="img-fluid" alt=""></div>
              </div>
              <div class="employer-info text-center">
                <h5 class="mb-0 fs-5 lh-base">Zikara Soft.</h5>
                <p class="mb-0 text-md text-muted fw-medium"><i class="fa-solid fa-location-dot me-2"></i>San Diego, America</p>
              </div>
            </div>
            <div class="employerCard-bottom mt-4 mb-4">
              <div class="d-flex align-items-center justify-content-center flex-wrap gap-2">
                <span class="rounded-pill badge-xs badge badge-secondary">PHP</span>
                <span class="rounded-pill badge-xs badge badge-secondary">Database</span>
                <span class="rounded-pill badge-xs badge badge-secondary">WordPress</span>
                <span class="rounded-pill badge-xs badge badge-secondary">Shopify</span>
                <span class="rounded-pill badge-xs badge badge-secondary">Photoshop</span>
              </div>
            </div>
            <div class="employer-openings d-flex my-2">
              <a href="#" class="btn btn-md btn-light-primary full-width fw-medium">View Openings<span class="bg-primary text-light circle p-1 text-sm ms-2">04</span></a>
            </div>
          </div>
        </div>
      </div>

      <!-- Single Item -->
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
        <div class="employerCard card h-100 border rounded-3">
          <div class="card-body position-relative">
            <div class="employerCard-body">
              <div class="employer-thumb d-flex align-items-center justify-content-center mb-3 mt-4">
                <div class="mx-auto w-20 h-20 overflow-hidden"><img src="assets/img/com-8.png" class="img-fluid" alt=""></div>
              </div>
              <div class="employer-info text-center">
                <h5 class="mb-0 fs-5 lh-base">Doodle Soft.</h5>
                <p class="mb-0 text-md text-muted fw-medium"><i class="fa-solid fa-location-dot me-2"></i>San Diego, America</p>
              </div>
            </div>
            <div class="employerCard-bottom mt-4 mb-4">
              <div class="d-flex align-items-center justify-content-center flex-wrap gap-2">
                <span class="rounded-pill badge-xs badge badge-secondary">PHP</span>
                <span class="rounded-pill badge-xs badge badge-secondary">Database</span>
                <span class="rounded-pill badge-xs badge badge-secondary">WordPress</span>
                <span class="rounded-pill badge-xs badge badge-secondary">Shopify</span>
                <span class="rounded-pill badge-xs badge badge-secondary">Photoshop</span>
              </div>
            </div>
            <div class="employer-openings d-flex my-2">
              <a href="#" class="btn btn-md btn-light-primary full-width fw-medium">View Openings<span class="bg-primary text-light circle p-1 text-sm ms-2">10</span></a>
            </div>
          </div>
        </div>
      </div>

      <!-- Single Item -->
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
        <div class="employerCard card h-100 border rounded-3">
          <div class="card-body position-relative">
            <div class="position-absolute end-0 top-0 mt-3 me-3"><span class="text-primary fs-5" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Verified Company"><i class="bi bi-patch-check-fill text-success"></i></span></div>
            <div class="employerCard-body">
              <div class="employer-thumb d-flex align-items-center justify-content-center mb-3 mt-4">
                <div class="mx-auto w-20 h-20 overflow-hidden"><img src="assets/img/com-5.png" class="img-fluid" alt=""></div>
              </div>
              <div class="employer-info text-center">
                <h5 class="mb-0 fs-5 lh-base">Sivansh Tech.</h5>
                <p class="mb-0 text-md text-muted fw-medium"><i class="fa-solid fa-location-dot me-2"></i>San Diego, America</p>
              </div>
            </div>
            <div class="employerCard-bottom mt-4 mb-4">
              <div class="d-flex align-items-center justify-content-center flex-wrap gap-2">
                <span class="rounded-pill badge-xs badge badge-secondary">PHP</span>
                <span class="rounded-pill badge-xs badge badge-secondary">Database</span>
                <span class="rounded-pill badge-xs badge badge-secondary">WordPress</span>
                <span class="rounded-pill badge-xs badge badge-secondary">Shopify</span>
                <span class="rounded-pill badge-xs badge badge-secondary">Photoshop</span>
              </div>
            </div>
            <div class="employer-openings d-flex my-2">
              <a href="#" class="btn btn-md btn-light-primary full-width fw-medium">View Openings<span class="bg-primary text-light circle p-1 text-sm ms-2">03</span></a>
            </div>
          </div>
        </div>
      </div>

      <!-- Single Item -->
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
        <div class="employerCard card h-100 border rounded-3">
          <div class="card-body position-relative">
            <div class="employerCard-body">
              <div class="employer-thumb d-flex align-items-center justify-content-center mb-3 mt-4">
                <div class="mx-auto w-20 h-20 overflow-hidden"><img src="assets/img/com-6.png" class="img-fluid" alt=""></div>
              </div>
              <div class="employer-info text-center">
                <h5 class="mb-0 fs-5 lh-base">Ankoor Soft.</h5>
                <p class="mb-0 text-md text-muted fw-medium"><i class="fa-solid fa-location-dot me-2"></i>San Diego, America</p>
              </div>
            </div>
            <div class="employerCard-bottom mt-4 mb-4">
              <div class="d-flex align-items-center justify-content-center flex-wrap gap-2">
                <span class="rounded-pill badge-xs badge badge-secondary">PHP</span>
                <span class="rounded-pill badge-xs badge badge-secondary">Database</span>
                <span class="rounded-pill badge-xs badge badge-secondary">WordPress</span>
                <span class="rounded-pill badge-xs badge badge-secondary">Shopify</span>
                <span class="rounded-pill badge-xs badge badge-secondary">Photoshop</span>
              </div>
            </div>
            <div class="employer-openings d-flex my-2">
              <a href="#" class="btn btn-md btn-light-primary full-width fw-medium">View Openings<span class="bg-primary text-light circle p-1 text-sm ms-2">05</span></a>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="row justify-content-center">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="d-flex align-items-center justify-content-center flex-column">
          <a href="#" class="btn btn-light-danger rounded-pill fw-medium px-lg-5">Explore More Employers</a>
        </div>
      </div>
    </div>

  </div>
</section>
