<!-- Start Navigation -->
<div class="header header-light">
  <div class="container">
    <nav id="navigation" class="navigation navigation-landscape">
      <div class="nav-header">
        <a class="nav-brand" href="#"><img src="../../../assets/img/logo.png" class="logo" alt=""></a>
        <div class="mobile_nav">
          <ul>
            <li>
              <a href="#" data-bs-toggle="modal" data-bs-target="#login" class="bg-primary-2 rounded-pill text-light"><i class="fa-solid fa-right-to-bracket me-1"></i>Login</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="nav-menus-wrapper" style="transition-property: none;">
        <div class="frm-search d-inline-flex">
          <form>
            <div class="form-group rounded-3 border bg-light position-relative mb-0" width="270">
              <input type="text" class="form-control rounded-3 form-control-md border-0 ps-5" placeholder="Job, City or keywords..">
              <span class="position-absolute top-50 start-0 translate-middle ms-4"><i class="fa-solid fa-magnifying-glass text-muted opacity-50 fs-6"></i></span>
            </div>
          </form>
        </div>

        <ul class="nav-menu nav-menu-social align-to-right">
          <li>
            <a [routerLink]="['front/ajouter']"><i class="fa-solid fa-business-time me-2"></i>Postule for a job</a>
          </li>
          <li>
            <a [routerLink]="['front/notif']"><i class="fa-solid fa-bell me-2"></i>Notifications</a>
          </li>
          <li>
            <a href="browse-jobs-05.html"><i class="fa-solid fa-business-time me-2"></i>Browse Jobs</a>
          </li>
          <li>
            <a href="browse-candidates-01.html"><i class="fa-solid fa-user-shield me-2"></i>Find Talents</a>
          </li>
          <li>
            <a href="browse-employers-01.html"><i class="fa-regular fa-lightbulb me-2"></i>Find Companies</a>
          </li>
          <li>
            <a href="#" data-bs-toggle="modal" data-bs-target="#login"><i class="fa-solid fa-right-to-bracket me-1"></i>Login</a>
          </li>
          <li class="list-buttons">
            <a href="register.html" class="rounded-pill"><i
              class="fa-regular fa-circle-user fs-6 me-2"></i>Create Account</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
<!-- End Navigation -->
