<section class="bg-dark">
  <div class="container">

    <div class="row align-items-center justify-content-center">
      <div class="col-xl-8 col-lg-9 col-md-11 col-sm-12">
        <div class="secHeading-wrap text-center mb-5">
          <div class="d-flex align-items-center justify-content-center mb-2">
            <span class="badge bg-primary text-md fw-medium rounded-pill">Categories</span>
          </div>
          <h2 class="fw-medium text-light">Explore Popular Routes</h2>
          <p class="text-light opacity-75">Cicero famously orated against his political opponent Lucius Sergius Catilina.</p>
        </div>
      </div>
    </div>

    <div class="row align-items-center justify-content-center g-xl-4 g-lg-4 g-md-4 g-3">

      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
        <div class="card border-0 rounded-4 py-lg-2">
          <div class="card-body p-xl-4 p-lg-4 p-3">
            <div class="reviews-topHeader d-flex flex-column mb-3">
              <div class="d-flex align-items-center justify-content-start mb-2">
                <span class="me-1 text-sm text-warning"><i class="fa-solid fa-star"></i></span>
                <span class="me-1 text-sm text-warning"><i class="fa-solid fa-star"></i></span>
                <span class="me-1 text-sm text-warning"><i class="fa-solid fa-star"></i></span>
                <span class="me-1 text-sm text-warning"><i class="fa-solid fa-star"></i></span>
                <span class="me-1 text-sm text-warning"><i class="fa-solid fa-star"></i></span>
              </div>
              <div class="revws-desc">
                <p class="text-dark fw-medium mb-1">"One of the Superb Platform"</p>
                <p class="m-0 text-dark">Absolutely love CareerCrow! whenever I'm in need of finding a job, CareerCrow is my #1 go to! wouldn't look anywhere else.</p>
              </div>
            </div>
            <div class="reviews-topHeader d-flex flex-column mb-4">
              <div class="d-flex align-items-center reviewerEmp">
                <div class="revws-pic square--40 circle bg-light me-2"><img src="assets/img/trustpilot.png" class="img-fluid" width="20" alt="">
                </div>
                <div class="revws-caps ps-2">
                  <p class="text-muted text-md m-0">Published on</p>
                  <p class="text-md m-0"><a href="#" class="text-primary fw-medium">Trustpilot</a></p>

                </div>
              </div>
            </div>

            <div class="reviews-topHeader d-flex flex-column">
              <div class="d-flex align-items-center flex-thumbes">
                <div class="revws-pic"><img src="assets/img/team-1.jpg" class="img-fluid circle" width="55" alt="">
                </div>
                <div class="revws-caps ps-3">
                  <h6 class="fw-medium fs-6 m-0">Aman Diwakar</h6>
                  <p class="text-muted-2 text-md m-0">General Manager</p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
        <div class="card border-0 rounded-4 py-lg-2">
          <div class="card-body p-xl-4 p-lg-4 p-3">
            <div class="reviews-topHeader d-flex flex-column mb-3">
              <div class="d-flex align-items-center justify-content-start mb-2">
                <span class="me-1 text-sm text-warning"><i class="fa-solid fa-star"></i></span>
                <span class="me-1 text-sm text-warning"><i class="fa-solid fa-star"></i></span>
                <span class="me-1 text-sm text-warning"><i class="fa-solid fa-star"></i></span>
                <span class="me-1 text-sm text-warning"><i class="fa-solid fa-star"></i></span>
                <span class="me-1 text-sm text-warning"><i class="fa-solid fa-star"></i></span>
              </div>
              <div class="revws-desc">
                <p class="text-dark fw-medium mb-1">"One of the Superb Platform"</p>
                <p class="m-0 text-dark">Overall, the CareerCrow application is a powerful tool for anyone in the job market. Its reliability, extensive job listings, and user-friendly..</p>
              </div>
            </div>
            <div class="reviews-topHeader d-flex flex-column mb-4">
              <div class="d-flex align-items-center reviewerEmp">
                <div class="revws-pic square--40 circle bg-light me-2"><img src="assets/img/gplay.png" class="img-fluid" width="15" alt="">
                </div>
                <div class="revws-caps ps-2">
                  <p class="text-muted text-md m-0">Published on</p>
                  <p class="text-md m-0"><a href="#" class="text-primary fw-medium">Google Play</a></p>

                </div>
              </div>
            </div>

            <div class="reviews-topHeader d-flex flex-column">
              <div class="d-flex align-items-center flex-thumbes">
                <div class="revws-pic"><img src="assets/img/team-2.jpg" class="img-fluid circle" width="55" alt="">
                </div>
                <div class="revws-caps ps-3">
                  <h6 class="fw-medium fs-6 m-0">Ridhika K. Sweta</h6>
                  <p class="text-muted-2 text-md m-0">CEO of Agreeo</p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
        <div class="card border-0 rounded-4 py-lg-2">
          <div class="card-body p-xl-4 p-lg-4 p-3">
            <div class="reviews-topHeader d-flex flex-column mb-3">
              <div class="d-flex align-items-center justify-content-start mb-2">
                <span class="me-1 text-sm text-warning"><i class="fa-solid fa-star"></i></span>
                <span class="me-1 text-sm text-warning"><i class="fa-solid fa-star"></i></span>
                <span class="me-1 text-sm text-warning"><i class="fa-solid fa-star"></i></span>
                <span class="me-1 text-sm text-warning"><i class="fa-solid fa-star"></i></span>
                <span class="me-1 text-sm text-warning"><i class="fa-solid fa-star"></i></span>
              </div>
              <div class="revws-desc">
                <p class="text-dark fw-medium mb-1">"One of the Superb Platform"</p>
                <p class="m-0 text-dark">I love this CareerCrow app. it's more legit than the other ones with advertisement. Once I uploaded my resume, then employers...</p>
              </div>
            </div>
            <div class="reviews-topHeader d-flex flex-column mb-4">
              <div class="d-flex align-items-center reviewerEmp">
                <div class="revws-pic square--40 circle bg-light me-2"><img src="assets/img/capterra.png" class="img-fluid" width="20" alt="">
                </div>
                <div class="revws-caps ps-2">
                  <p class="text-muted text-md m-0">Published on</p>
                  <p class="text-md m-0"><a href="#" class="text-primary fw-medium">Capterra</a></p>

                </div>
              </div>
            </div>

            <div class="reviews-topHeader d-flex flex-column">
              <div class="d-flex align-items-center flex-thumbes">
                <div class="revws-pic"><img src="assets/img/team-3.jpg" class="img-fluid circle" width="55" alt="">
                </div>
                <div class="revws-caps ps-3">
                  <h6 class="fw-medium fs-6 m-0">Shushil Kumar Yadav</h6>
                  <p class="text-muted-2 text-md m-0">Brand Manager</p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
        <div class="card border-0 rounded-4 py-lg-2">
          <div class="card-body p-xl-4 p-lg-4 p-3">
            <div class="reviews-topHeader d-flex flex-column mb-3">
              <div class="d-flex align-items-center justify-content-start mb-2">
                <span class="me-1 text-sm text-warning"><i class="fa-solid fa-star"></i></span>
                <span class="me-1 text-sm text-warning"><i class="fa-solid fa-star"></i></span>
                <span class="me-1 text-sm text-warning"><i class="fa-solid fa-star"></i></span>
                <span class="me-1 text-sm text-warning"><i class="fa-solid fa-star"></i></span>
                <span class="me-1 text-sm text-warning"><i class="fa-solid fa-star"></i></span>
              </div>
              <div class="revws-desc">
                <p class="text-dark fw-medium mb-1">"One of the Superb Platform"</p>
                <p class="m-0 text-dark">CareerCrow the best job finder app out there right now.. they also protect you from spammers so the only emails I get due to...</p>
              </div>
            </div>
            <div class="reviews-topHeader d-flex flex-column mb-4">
              <div class="d-flex align-items-center reviewerEmp">
                <div class="revws-pic square--40 circle bg-light me-2"><img src="assets/img/ios.png" class="img-fluid" width="25" alt="">
                </div>
                <div class="revws-caps ps-2">
                  <p class="text-muted text-md m-0">Published on</p>
                  <p class="text-md m-0"><a href="#" class="text-primary fw-medium">IOS Store</a></p>

                </div>
              </div>
            </div>

            <div class="reviews-topHeader d-flex flex-column">
              <div class="d-flex align-items-center flex-thumbes">
                <div class="revws-pic"><img src="assets/img/team-8.jpg" class="img-fluid circle" width="55" alt="">
                </div>
                <div class="revws-caps ps-3">
                  <h6 class="fw-medium fs-6 m-0">Ritika K. mishra</h6>
                  <p class="text-muted-2 text-md m-0">HR Head at Google</p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
        <div class="card border-0 rounded-4 py-lg-2">
          <div class="card-body p-xl-4 p-lg-4 p-3">
            <div class="reviews-topHeader d-flex flex-column mb-3">
              <div class="d-flex align-items-center justify-content-start mb-2">
                <span class="me-1 text-sm text-warning"><i class="fa-solid fa-star"></i></span>
                <span class="me-1 text-sm text-warning"><i class="fa-solid fa-star"></i></span>
                <span class="me-1 text-sm text-warning"><i class="fa-solid fa-star"></i></span>
                <span class="me-1 text-sm text-warning"><i class="fa-solid fa-star"></i></span>
                <span class="me-1 text-sm text-warning"><i class="fa-solid fa-star"></i></span>
              </div>
              <div class="revws-desc">
                <p class="text-dark fw-medium mb-1">"One of the Superb Platform"</p>
                <p class="m-0 text-dark">I love this app, and service, it makes applying for job so much easier you can make your resume as easy as filling out an application...</p>
              </div>
            </div>
            <div class="reviews-topHeader d-flex flex-column mb-4">
              <div class="d-flex align-items-center reviewerEmp">
                <div class="revws-pic square--40 circle bg-light me-2"><img src="assets/img/trustpilot.png" class="img-fluid" width="20" alt="">
                </div>
                <div class="revws-caps ps-2">
                  <p class="text-muted text-md m-0">Published on</p>
                  <p class="text-md m-0"><a href="#" class="text-primary fw-medium">Trustpilot</a></p>

                </div>
              </div>
            </div>

            <div class="reviews-topHeader d-flex flex-column">
              <div class="d-flex align-items-center flex-thumbes">
                <div class="revws-pic"><img src="assets/img/team-7.jpg" class="img-fluid circle" width="55" alt="">
                </div>
                <div class="revws-caps ps-3">
                  <h6 class="fw-medium fs-6 m-0">Sarwan Kumar Patel</h6>
                  <p class="text-muted-2 text-md m-0">Chief Executive</p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>


  </div>
</section>
