<div class="hero-banner gray-simple position-relative">
  <div class="container">

    <!-- Search Form -->
    <div class="row justify-content-between align-items-center g-4">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="position-relative mb-5">
          <h1 class="fw-semibold">Explore hot Jobs in your City with <span class="text-seegreen">CareerCrow</span></h1>
          <p class="fs-5 fw-normal opacity-75"><i class="fa-regular fa-circle-check text-primary opacity-100 me-2"></i>2500+ verified companies around the globe.</p>
        </div>
        <div class="search-wrap bg-white rounded-pill p-2 ps-0">
          <div class="row gx-1">

            <div class="col-xl-9 col-lg-9 col-md-8 col-sm-8 col-8">
              <div class="form-group mb-0 position-relative">
                <input type="text" class="form-control rounded-pill fw-medium border-0 ps-5" placeholder="Search jobs & freelancers...">
                <span class="position-absolute top-50 start-0 translate-middle ms-4"><i class="fa-solid fa-magnifying-glass text-muted opacity-50 fs-5"></i></span>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-4">
              <div class="form-group mb-0">
                <button type="button" class="btn btn-primary rounded-pill full-width fw-medium">Find Jobs</button>
              </div>
            </div>

          </div>
        </div>
        <div class="d-block position-relative mt-5">
          <h6 class="mb-3">Popular searches</h6>
          <div class="popularSearches primary-soft">
            <ul>
              <li><a href="#">Web Dev</a></li>
              <li><a href="#">Mobile Dev</a></li>
              <li><a href="#">Design</a></li>
              <li><a href="#">Customer Services</a></li>
              <li><a href="#">Marketing</a></li>
              <li><a href="#">Accounting</a></li>
              <li><a href="#">App Development</a></li>
              <li><a href="#">Writing</a></li>
              <li><a href="#">IOS</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xl-5 col-lg-6 col-md-12 col-sm-12 z-2">
        <div class="banner-clousio">
          <div class="position-relative px-xl-5 px-4 text-center">
            <div class="figure text-center m-0"><img src="assets/img/img-4.jpg" class="img-fluid rounded-4 shadow" alt=""></div>
            <div class="position-absolute bottom-0 start-0 z-index-1 mb-4">
              <div class="bg-body d-flex align-items-center rounded-pill position-relative p-2 z-2">
                <!-- icon -->
                <div class="me-2">
                  <span class="square--40 bg-danger circle text-light fw-5"><i class="fa-regular fa-user"></i></span>
                </div>
                <!-- Talents -->
                <div class="text-start me-4 ps-1">
                  <p class="text-md text-muted m-0">Total Experts Talents</p>
                  <h6 class="fw-semibold mb-0">25,000</h6>
                </div>
              </div>
            </div>

            <!-- 2nd Box -->
            <div class="position-absolute top-0 end-0 z-index-1 mt-4">
              <div class="bg-body d-flex align-items-center rounded-pill position-relative p-2 z-2">
                <!-- Talents -->
                <div class="text-start me-4 ps-3">
                  <h6 class="fw-bold mb-0">2.45 M</h6>
                  <p class="text-md text-muted m-0">Total Active Jobs</p>
                </div>

                <!-- icon -->
                <div class="ms-2">
                  <span class="square--40 bg-success circle text-light fw-5"><i class="fa-solid fa-business-time"></i></span>
                </div>
              </div>
            </div>

            <!-- 3rd box -->
            <div class="position-absolute bottom-0 end-0 z-index-1 mb-5">
              <div class="bg-body d-flex align-items-center rounded-pill position-relative p-2 z-2">
                <!-- Growth -->
                <div class="text-start me-4 ps-3">
                  <p class="text-md text-muted m-0">Total Annual Growth</p>
                  <h6 class="fw-semibold text-success mb-0">57.45%</h6>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- </row> -->

  </div>
  <div class="bg-cover position-absolute start-70 start-0 end-0 top-0 bottom-0 bg-seegreen d-none d-xl-block d-lg-block d-xxl-block" style="background:url(assets/img/flash.png)no-repeat;"></div>
</div>
